body, html{
	height: 100%;
}

.paralax{

	height: 100%;

	background-image: url(fundo_principal.png);
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-color: darkolivegreen;
	background-size: cover;
}

.site{
	
}