*{
	margin:0;
  padding: 0;
  list-style: none;
}
.fundo{
  height: 800px;
  background-image: url(fundo_principal.png);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-color: rgb(25, 25, 25);
  background-size: cover;
}

.menu{
	width: 100%;
	height: 54px;
	background-color: #252525;
  font-family: 'Gill Sans MT';
}

.menu ul{
	list-style: none;
	position: relative;
}

.menu ul li{
	width: 150px;
	float: left;
}

.menu a{
	padding: 15px;
	display: block;
	text-decoration: none;
	text-align: center;
	background-color: #252525;
	color:#fcad40;
	font-size: 20px;
}

.menu a:hover{
	background-color: #151515;

}

.img{
	width: 70px;
}

.busca{
  background-color: #444444;
  padding-left: 5px;
  padding-top: 5px;
  padding-bottom: 5px;
  font-style: normal;
  border: 1px solid #eeeeee;
  border-radius: 15px;
  width: 300px;
  float: right;
  margin-top: 13px;
  margin-right: 10px;
}

.lupa{
  float: right;
  height: 15px;
  width: 15px;
  margin-right: 5px;
}

.busca_input{
  margin-left: 10px;
  border: 0;
  background-color: transparent;
  width: 90%;
  color: #eeeeee;
}
.busca_input:focus{
  border: 0;
  outline: none;
}

.caixa{
  padding-top: 2px;
  margin-top: -900px;
  margin-left: 10px;
  width: 605px;
  height: 480px;
  background-color: #252525;
  color:whitesmoke;
  font-family: 'Gill Sans MT';
  text-align: center;
  display: block;
}

.estilo{
  margin-bottom: 910px;
}

.promo{
  width: 100%;
	height: 300px;
	background-color: #252525;
  font-family: 'Gill Sans MT';
  padding-top: 10px;
}

.promo ul li p a{
  color: whitesmoke;
  font-size: 50px;
  padding-left: 10px;
  text-decoration: none;
}

.especiais li {
  float: left;
  margin-left: 0px;
  padding-left: 0px;
  list-style: none;
}

.especiais h3 a{
  color: whitesmoke;
  display: block;
  float: left;
  font-family: 'Gill Sans MT';
  margin-top: 10px;
  margin-left: 100px;
  text-decoration: none;
}

.especiais h3 a:hover{
  color: #fcad40;
}

.imgp{
  padding-right: 50px;
  height: 150px;
  margin-top: 50px;
  margin-left: -105px;
}

.adj{
  padding-right: 10px;
}

.box{
  padding-top: 2px;
  margin-top: -910px;
  margin-left: 450px;
  width: 1000px;
  height: 911px;
  background-color: #252525;
  list-style: none;
}


.box ul{
  list-style: none;
}

.size{
  font-size: 30px;
  font-family: 'Gill Sans MT';
  text-align: center;
  display: block;
  color:whitesmoke;
}

.entrega{
  margin-top: 40px;
  margin-left: 40px;
}

.ou{
  font-size: 30px;
  font-family: 'Gill Sans MT';
  display: block;
  color:whitesmoke;
  margin-left: 150px;
  margin-top: 175px;
  margin-bottom: 10px;
}
.entreg{
  font-size: 50px;
  font-family: 'Gill Sans MT';
  text-align: center;
  display: block;
  color:whitesmoke;
  text-decoration: none;
  margin-top: -180px;
  text-decoration: none;
}

.info{
  background-color: #444444;
  padding-left: 5px;
  padding-top: 5px;
  padding-bottom: 5px;
  font-style: normal;
  border: 1px solid #eeeeee;
  border-radius: 15px;
  width: 300px;
  margin-top: -5px;
  margin-left: 350px;
}

.but{
  background-color: #fcad40;
  font-family: 'Gill Sans MT';
  font-size: 20px;
  margin-left: 450px;
  margin-top: 20px;
  margin-bottom: 40px;
  width: 100px;
  height: 40px;
}

.hover:hover{
  color: #fcad40;
}

.obg{
  font-size: 20px;
  margin-left: 20px;
  color: #fcad40;
}

.jsdia{
  color: #fcad40;
  font-family: 'Gill Sans MT';
  text-decoration: none;
}

.section1{
  height: 880px;
  width: 880px;
  background-color: #252525;
  border-radius: 20px;
  box-align: center;
  margin-top: 15px;
  margin-left: 300px;
  border: 1px solid #eeeeee;
}

.section2{
  height: 430px;
  width: 430px;
  background-color: #252525;
  border-radius: 20px;
  box-align: center;
  margin-top: -880px;
  margin-left: 1197px;
  border: 1px solid #eeeeee;
}

.section3{
  height: 430px;
  width: 430px;
  background-color: #252525;
  border-radius: 20px;
  box-align: center;
  margin-top: 15px;
  margin-bottom: 50px;
  margin-left: 1197px;
  border: 1px solid #eeeeee;
}

.imgjs{
  height: 300px;
  margin-top: 510px;
  margin-right: -250px;
  margin-bottom: 20px;
  float: right;
}

.txtjs{
  color: whitesmoke;
  font-family: 'Gill Sans MT';
  text-decoration: none;
  font-size: 40px;
  float: right;
  margin-top: 450px;
  margin-right: 110px;
}

.txtpizza{
  color: whitesmoke;
  font-family: 'Gill Sans MT';
  text-decoration: none;
  font-size: 30px;
  text-align: center;
  margin: auto;
}